<html>
<body>
	<p>Hey there, <%= @post.user.full_name %>,</p>
	<p>Your post, titled: <%= @post.title %></p>
	<p>Has been commented on. It reads: </p>
	<p><%= @comment.body %><p>

	<p>Have a great one and see you on the blog soon!</p>
</body>
</html>
